<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>add growth record</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
	
		<header th:include="template :: header">header test</header>

    	<main style="min-height: 500px;">
    	    	
    		<div class="mt-5 col-lg-4" >
    			<form class="form-group" method="POST" th:object="${GrowthRecord}" action="/GrowthRecordController/}">
    				
	    			<label for="date">Date:</label>
	    			<input type="text" class="form-control" id="date" th:field="*{date}" required>
	    			
	    			<label for="headsize">Head Size:</label>
    				<input type="text" class="form-control" id="headsize" th:field="*{headSize}">
    				
    				<label for="weight">Weight (lbs)</label>
    				<input type="text" class="form-control" id="weight" th:field="*{weight}">
    				
    				<label for="length">Length (cm):</label>
    				<input type="text" class="form-control" id="length" th:field="*{length}">
    				
    				<label for="note">Note:</label>
    				<input type="text" class="form-control" id="note" th:field="*{note}">
    				
    				<button type="Submit" class="form-control btn btn-primary mt-2">Submit</button>
    			
    			</form>
   			</div>

		<footer class="footer" th:include="template :: footer">footer test</footer>

    		
    </div>
</body>
</html>